* {
	margin: 0;
	padding: 0;
}

section {
	width: 70vw;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

.satu {
	width: 28vw;
	height: 30px;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	background-color: rgb(86,95,98);
	float: left;

	color: rgb(237,238,238);
	text-align: left;
	font-size: 11pt;
}

table.dua {
	width: 15vw;
	float: right;
}

table.dua thead tr th {
	text-align: right;
	font-size: 20pt;
	font-weight: bold;
}

table.dua tbody tr td {
	text-align: right;
	font-size: 120pt;
	font-weight: bold;
}

table.dua tfoot tr th {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 8px;
	background-color: rgb(234,209,235);
	border-radius: 8px;

	text-align: left;
	line-height: 16pt;
	font-size: 10pt;
	font-weight: bold;
}

table.tiga {
	width: 28vw;
	margin-left: 21px;
	border-collapse: collapse;
	border: 2px solid#AAB4BA;
	
	text-align: left;
	font-size: 12pt;
	font-weight: bold;
}

table.tiga thead tr th {
	color: rgb(237,238,238);
	background-color: rgb(86,95,98);
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	vertical-align: top;
	border-right: 2px solid#AAB4BA;
}

table.tiga thead tr th:nth-child(1) {
	width: 20%;
}

table.tiga thead tr th:nth-child(2) {
	width: 60%;
}

table.tiga thead tr th:nth-child(3) {
	width: 25%;
}

table.tiga tbody tr td {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	border-right: 2px solid#AAB4BA;
	vertical-align: top;
	
	color: rgb(86,95,98);
}

table.empat {
	width: 25vw;
	float: left;
	margin-left: 8px;
	margin-top: 15px;
}

table.empat thead tr th {
	color: rgb(9,190,40);
	text-align: left;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 4px solid #09BE28;

	font-size: 24pt;
	font-weight: bold;
}

table.empat tbody tr td {
	width: 35vw;
	text-align: left;
	padding-top: 5px;
	padding-right: 10px;
}

table.empat tbody tr:nth-child(1) td {
	color: rgb(9,190,40);
	padding-top: 10px;
	font-weight: bold;
	font-size: 11pt;
}

table.empat tbody tr:nth-child(2) td {
	color: rgb(9,190,40);
	padding-left: 15px;
	font-size: 11pt;
}

table.empat tbody tr:nth-child(3) td {
	color: black;
	padding-left: 15px;
	font-size: 11pt;
}

table.empat tbody tr:nth-child(4) td {
	color: rgb(9,190,40);
	padding-left: 15px;
	font-weight: bold;
	font-size: 11pt;
}

table.empat tbody tr:nth-child(5) td {
	color: black;
	padding-left: 15px;
	font-size: 11pt;
}

table.empat tbody tr:nth-child(6) td {
	color: rgb(9,190,40);
	font-weight: bold;
	font-size: 11pt;
}

table.empat ul {
	padding-left: 25px;
}

table.empat tbody tr:nth-child(7) td {
	color: black;
	font-size: 11pt;
}

table.empat tbody tr:nth-child(8) td {
	color: rgb(9,190,40);
	font-weight: bold;
	font-size: 11pt;
}

table.empat tbody tr:nth-child(9) td {
	color: black;
	font-size: 11pt;
}

table.empat tbody tr:nth-child(10) td {
	color: rgb(9,190,40);
	font-weight: bold;
	font-size: 11pt;
}

table.empat tbody tr:nth-child(11) td {
	color: black;
	font-size: 11pt;
}

table.lima {
	width: 30vw;
	float: right;
	margin-top: 8px;
	position: relative;
}

table.lima thead tr th {
	color: black;
	text-align: left;
	padding-bottom: 8px;
	border-bottom: 3px solid #87CEEB;

	font-size: 16pt;
	font-weight: bold;
}

table.lima tbody tr td {
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;

}

table.lima tbody tr td:nth-child(1) {
	width: 15%;
	color: black;
	text-align: left;
	font-size: 30pt;
	font-weight: bold;
}

table.lima tbody tr td:nth-child(2) {
	width: 50%;
	color: black;
	text-align: left;
	padding-left: 35px;
	font-size: 14pt;
}

table.lima tbody tr td:nth-child(3) {
	text-align: right;
}