* {
	margin: 0;
	padding: 0;
}

main {
	width: 80%;
	max-width: 1366px;
	margin: 3.998em auto;
}

.numbering {
	display: inline-block;
	padding-left: 1.414em;
	padding-bottom: 1.414em;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin-top: 1.414em;
	margin-bottom: 1.414em;
}

table, th, td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.707em;
	padding-right: 0.707em;
	border: 1pt solid black;
}


@media (max-width: 340px) {
	main {
		width: 80%;
		margin: 3.798em auto;
	}
	.numbering {
		padding-left: 1.343em;
		padding-bottom: 1.343em;
	}

	table {
		margin: 1.343em 0;
	}

	table, th, td {
		padding-top: 0.475em;
		padding-bottom: 0.475em;
		padding-left: 0.475em;
		padding-right: 0.475em;
	}