*{
	margin: 0;
	padding: 0;
}
main {
	margin-top: 60px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
main section {
	width: 99%;
	height: 12vh;
	margin-right: 1%;
	margin-bottom: 2%;
	float: left;
	background-color: rgb(233, 150, 122);
}
main section.satu {
	width: 24%;
	background-color: rgb(216, 191, 216);
}
main section.dua {
	width: 33%;
	background-color: rgb(216, 191, 216);
}
main section.tiga {
	width: 15%;
	height: 6vh;
	background-color: rgb(216, 191, 216);
}
main section.empat {
	width: 49%;
	background-color: rgb(233, 150, 122);
}
main section.lima {
	width: 66%;
	height: 6vh;
	margin-top: 6vh;
	background-color: rgb(102, 205, 170);
}
main section.enam {
	width: 32%;
	background-color: rgb(102, 205, 170);
}
