*{
	margin: 0;
	padding: 0;
}

.box {
	width: 100px;
	height: 100px;
	background-color: yellow;
	margin: 10px;
	float: left;
}

.popup {
	position: fixed;
	width: 48vw;
	height: 300px;
	padding: 1vw;
	top: -350px;
	left: 25vw;
	opacity: 0;
	background-color: wheat;
	box-shadow: 0px 5px 10px lightgray;
	transition: all 2s;
}

.popup_close {
	position: absolute;
	top: 5px;
	right: 5px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 48px;
	color: red;
}