* {
	margin: 0;
	padding: 0;
}

main {
	width: 80%;
	max-width: 1366px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3.998em;
}
 span.dropcap {
  font-size: 2.686em;
  line-height: 1em;
  float: left;
}

.numbering {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
}

table.satu {
	width: 45%;
	border: 1pt solid black;
	border-collapse: collapse;
	text-align: center;
}

table.satu thead tr th {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-right: 1pt solid black;
	border-bottom: 1pt solid black;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 700;
}

table.satu tbody tr td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-right: 1pt solid black;
	border-bottom: 1pt solid black;

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

table.satu thead tr th:nth-child(1) {
	width: 5%;
}

table.satu thead tr th:nth-child(2) {
	width: 15%;
}

table.satu thead tr th:nth-child(3) {
	width: 25%;
}
table.satu thead tr th:nth-child(4) {
	width: 30%;
}
table.satu thead tr th:nth-child(5) {
	width: 25%;
}
