@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:ital@0;1&display=swap');

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 2.827em;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.414em;

}

h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1em;

}
h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.707em;	
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;	
}
