@font-face {
	font-family: 'BoldenVan';
	src: url('BoldenVan.ttf') format('truetype');
}
@import url<link rel="stylesheet" href="https://use.typekit.net/xse7qpz.css">;

.sidemenu a {
	font-family: 'BoldenVan'; 
	font-size: 1.25em;
	letter-spacing: 1.5px;
	color: #E6EDED;
	text-decoration: none;
}

h2 {
	font-family: 'BoldenVan';
	font-size: 2.961em;
	letter-spacing: 1.5px;
	color: #E6EDED;
}
.about h2 {
	margin-bottom: 25px;
}
.event h2 {
	margin-bottom: 25px;
}
.partners h2 {
	margin-bottom: 25px;
}
.content h2 {
	text-align: center;
	margin-bottom: 80px;
}
.content3 h2 {
	text-align: center;
	margin-bottom: 80px;
}

h3 {
	font-family: noto-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 1.666em;
	color: #E6EDED;
}

.about .teksabout h3{
	padding-bottom: 20px;
}
.get .teksget h3{
	text-align: left;
	padding-bottom: 30px;	
}

h4{
	font-family: noto-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.25em;
	line-height: 35px;
	color: #E6EDED;

}
.people .fotopeople1 h4{
	font-weight: 600;
	padding-bottom: 35px;
}

.people .fotopeople2 h4{
	font-weight: 600;
	padding-bottom: 35px;
}

.content4 h4{
	text-align: center;
	padding-bottom: 50px;
}
.iconfooter h4{
	padding-bottom: 10px;
}

.socialmedia h4 {
	padding-bottom: 10px;
}

h5 {
	font-family: noto-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.938em;
	line-height: 25px;
	color: #E6EDED;
}

p  {
	font-family: noto-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.25em;
	line-height: 35px;
	margin-bottom: 25px;
	color: #E6EDED;
}
.get .teksget p{
	text-align: left;
}

@media only screen and ( max-width: 414px ) {

	.sidemenu a{
		font-size: 1.333em;
		padding-left: 30px;
		padding-bottom: 30px;
	}

	h2 {
		font-size: 2.369em;
		letter-spacing: 2px;
	}
	.about h2 {
		margin-bottom: 20px;
	}
	.event h2 {
		margin-bottom: 20px;
	}
	.partners h2 {
		margin-bottom: 30px;
	}
	.content h2 {
		margin-bottom: 60px;
	}
	.content3 h2 {
		margin-bottom: 60px;
	}
	h3 {
		font-size: 1.333em;
	}
	h4 {
		font-size: 1em;
		line-height: 30px;
	}
	.people .fotopeople1 h4{
		padding-bottom: 20px;
	}
	.people .fotopeople2 h4{
		padding-bottom: 20px;
	}
	.content4 h4{
		margin-left: 40px;
		margin-right: 40px;
		text-align: center;
		padding-bottom: 50px;
	}
	.iconfooter h4{
		padding-bottom: 5px;
	}
	.socialmedia h4 {
		padding-bottom: 5px;
	}
	h5 {
		font-size: 0.75em;
		line-height: 20px;
	}
	.iconfooter h5{
		padding-bottom: 5px;
	}
	p{
		font-size: 1em;
		line-height: 30px;
	}
